<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/stylesheet/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="w-full h-full bg-zinc-900 p-10 text-white ">
        <div class="nav mb-10 ">
            <a href="/read" class="text-blue-400">Read Users</a>
        </div>
        <h1 class="text-3xl tracking-tighter mb-3">Create user</h1>

        <form action="/update/<%= user._id%>" method="POST">
               <input class="px-5 py-3 border-2 outline-none border border-zinc-700 bg-transparent rounded-lg  ml-2 "name="name" type="text" placeholder="name" value="<%= user.name%>">
               <input class="px-5 py-3 border-2 outline-none border border-zinc-700 bg-transparent rounded-lg ml-2 "name="email" type="text" placeholder="email" value="<%= user.email%>">
               <input class="px-5 py-3 border-2 outline-none border border-zinc-700 bg-transparent rounded-lg ml-2 "name="image" type="text" placeholder="image" value="<%= user.image%>">
               <input  class="px-5 py-3 bg-yellow-600 text-black rounded-lg ml-5" type="submit" value="Edit user">
        </form>
    </div>
</body>
</html>