<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/stylesheet/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="w-full h-full bg-zinc-900 p-10 text-white ">
        <h1 class="text-3xl tracking-tighter mb-3">Create user</h1>
        <form action="">
               <input class="px-5 py-3 border-2 outline-none border border-zinc-700 bg-transparent rounded-lg  ml-2" type="text" placeholder="name">
               <input class="px-5 py-3 border-2 outline-none border border-zinc-700 bg-transparent rounded-lg ml-2" type="text" placeholder="email">
               <input class="px-5 py-3 border-2 outline-none border border-zinc-700 bg-transparent rounded-lg ml-2" type="text" placeholder="image">
               <input  class="px-5 py-3 bg-blue-600 rounded-lg ml-5" type="submit" value="Create user">
        </form>
    </div>
</body>
</html>